.main-block {
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
}

.main-block-content {
    display: inline-block;
}

.headline-text {
    text-transform: uppercase;
}

.avatar {
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.place-study,
.list-block,
.soc-net {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #808080;
}

.contacts,
.feedback {
    text-align: left;
}

.feedback-text,
.contacts-text,
.soc-net-ref {
    margin-left: 40px;
}

.soc-net-ref {
    font-style: italic;
}